@model ReeTail.Models.ItemSearch
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for an item...</h2>
<div class="row">
    <form class="col-md-4">
        <div asp-action="CreateNewUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchItemName" class="control-label">Item Name</label>
                <input asp-for="SearchItemName" class="form-control"/>
                <span asp-validation-for="SearchItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchFilter" class="control-label">Filter</label>
                <input asp-for="SearchFilter" class="form-control"/>
                <span asp-validation-for="SearchFilter" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
