@model ReeTail.Models.UserAccount
@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your ReeTail Account Details</h2>
<h4>Enter these details...</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label">Postcode</label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNum" class="control-label">Mobile Number</label>
                <input asp-for="MobileNum" class="form-control" />
                <span asp-validation-for="MobileNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImg" class="control-label">Profile Picture (Optional)</label>
                <input asp-for="ProfileImg" class="form-control" />
                <span asp-validation-for="ProfileImg" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
